services:
  postgres:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: todo_postgres_db
    environment:
      - ./env.dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - todo_network

volumes:
  postgres_data:
    driver: local

networks:
  todo_network:
    driver: bridge
